<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb">
        <li>
          <a ui-sref="server-groups" translate>CLUSTERS</a>
        </li>
        <li class="active"><strong>{{ctrl.serverGroup.name}}</strong></li>
      </ol>
      <div class="dropdown pull-right" uib-dropdown>
        <button class="btn btn-default" type="button" id="refreshButton" ng-click="ctrl.refresh()">
          <span class="pficon pficon-refresh"></span> <span translate>REFRESH</span>
        </button>
        <button ng-if="ctrl.isDomainMode()" class="btn btn-default dropdown-toggle" type="button"
                id="dropdownMenu" uib-dropdown-toggle><span translate>ACTIONS</span><span
          class="caret"></span>
        </button>
        <ul ng-if="ctrl.isDomainMode()" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li role="presentation" ng-class="ctrl.available ? 'disabled' : 'enabled'"
              ng-click="ctrl.createConfirmationModal('start')">
            <a id="dropdownMenuStart" role="menuitem" translate>START</a>
          </li>
          <li role="presentation" ng-class="ctrl.available ? 'enabled' : 'disabled'"
              ng-click="ctrl.createConfirmationModal('stop')">
            <a id="dropdownMenuStop" role="menuitem" translate>STOP</a>
          </li>
        </ul>
      </div>

      <h1><span class="label"
                ng-class="ctrl.available ? 'label-success' : 'label-danger'">{{ctrl.status}}</span>&nbsp;Cluster:
        {{ctrl.serverGroup.name}}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <ul class="nav nav-tabs">
        <li ui-sref-active="active" ui-sref=".nodes"><a translate>NODES</a></li>
        <li ui-sref-active="active" ui-sref=".memory"><a translate>MEMORY_USAGE</a></li>
      </ul>
    </div>
  </div>

  <!-- Sub views are inserted here -->
  <div ui-view="" />
</div>
